@import "variables";
@import "compass/css3/appearance";

.dispensing-form #who-where-when-view {
	margin-bottom: 10px;
}

#medication-list {
	margin-top: 25px;
}

fieldset.medication {
	background: #eee;
	padding: 5px 3px 12px 7px;
	margin: 0;

	.select-arrow .emptyValue {
		background: $error;
	}

	.select-arrow .notEmpty {
		background: $successBackground;
	}

	.notEmpty {
		background: $successBackground;
	}

	.emptyValue {
		background: $error;
		color: white;

		&:focus {
			background: $error;
		}
	}

	.medication-name input {
		width: 96%;
		display: inline-block;
	}

	h3 {
		margin-top: 0px;
	}

	p {
		margin-bottom: 5px;
	}

	input, select {
		margin-top: 0;
	}

	p.inline {
		vertical-align: top;
		min-width: 120px;
		margin-right: 15px;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}

		select {
			width: 120px;
		}
	}

	.select-arrow {
		overflow: hidden;

		&:after {
			margin-top: 0;
		}

		select {
			min-width: 0;
			min-width: 90px;
			padding-right: 19px;
			padding-left: 5px;
		}
	}

	.doseInput {
		display: inline-block;
		vertical-align: top;

		input, select {
			display: inline;
			min-width: 0;
		}

		input {
			display: block;
			width: 50px;
		}

		select {
			width: 90px;
		}
	}
}

.field-error {
	color: $error;
}

.prescriber {
	margin-top: 20px;
	margin-bottom: 10px;

	.select-arrow {
		overflow: hidden;
	}

	select {
		min-width: 200px;
		padding-right: 19px;
		padding-left: 5px;
	}
}

#typePrescription span.input-container {
	display: inline-block;
	margin-right: 10px;

	.required {
		display: none;
	}
}
