@import "customVariables";
@import "reference";
@import "dispensing";


.tabs {
  a {
    color: $link;
    text-decoration: none;

    &:hover {
      color: lighten($link, 10%);
      text-decoration: underline;
    }
    
    &:visited, &.visited {
      color: $link
    }
  }

}

#assigned_create_requests_table, #assigned_pull_requests_table {
  th {
    background: white;
    border: none;
    font-family: $primaryBoldFont;
    font-weight: normal;
    color: $text;
  }

  tr {
    border: none;
    border-bottom: 1px solid #eee;

    td {
      border: none;
    }
  }

  tr:nth-child(even) {
    background: white;
  }
}

//archives-room
.box-align {
  display: inline-block;
  vertical-align: top;
  width: 44%;

  &.btn {
    margin-top: 85px;
    text-align: center;
    width: 12%;
    margin: {
      left: -5px;
      right: -5px;
    }

    i {
      line-height: 1em;
    }

    span {
      display: block;
      font-size: 0.9em;
    }

  }
}

.checkbox-done input {
  vertical-align: middle;
  @include check-box;
}

.instructions {
  color: $highlight;
  display: inline-block;
  padding: 5px;
  background: #EEE;
  margin: 10px 0 20px 0;

  .instruction {
    display: inline-block;
    background: #FFF;
    padding: 3px 10px;
  }
}

#modal-overlay {
  background-color: #aaa;
  opacity: 0.8;
}

.half-width {
    width: 60%;
}

#login-form {
  ul.select {
    width: 850px;
  }

  p {
    input[type=text], input[type=password] {
      width: 405px;
    }
  }
}

.highlighted {
	background-color: #EB6E1F;
	color: $white; 
	padding: 5px;
	margin: 5px
}


.dialog-diagnoses {
  @extend .dialog;
  width: 850px;
  height: auto;

  ul {
    margin-bottom: 10px;
  }
}

form p.radio-btn {
  margin: 0 10px 0 0;
}

#schedule-appointment {
  fieldset {
    margin-top: 22px;
    min-width: 76%;

    legend {
      text-transform: none; 
    }

    p.narrow {
      display: inline-block;
      min-width: 160px;
      width: 160px;

      &.select {
        width: 250px;

        label {
          margin-bottom: 9px;
        }
      }
    }

    select {
      width: 250px;
    }

    .hasDatepicker {
      min-width: 70%;
    }
  }
}