#waitingForConsultHeader {
  overflow: hidden;
}

#headerLabel {
  width: 50%;
  float: left;
}

#refreshTimeDiv {
  width: 50%;
  float: left;
}

#timeToRefresh {
  background-color: #f1ff60;
}

#refreshMessage {
  float: right;
}