<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>PIH</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>


    <require_modules>
        <require_module version="${emrapiVersion}">
            org.openmrs.module.emrapi
        </require_module>
        <require_module version="${emrVersion}">
            org.openmrs.module.emr
        </require_module>
        <require_module version="${metadatadeployVersion}">
            org.openmrs.module.metadatadeploy
        </require_module>
        <require_module version="${registrationcoreVersion}">
            org.openmrs.module.registrationcore
        </require_module>
        <require_module version="${eventVersion}">
            org.openmrs.event
        </require_module>
        <require_module version="${uiframeworkVersion}">
            org.openmrs.module.uiframework
        </require_module>
        <require_module version="${appframeworkVersion}">
            org.openmrs.module.appframework
        </require_module>
        <require_module version="${metadatasharingVersion}">
            org.openmrs.module.metadatasharing
        </require_module>
        <require_module version="${htmlformentryVersion}">
            org.openmrs.module.htmlformentry
        </require_module>
        <require_module version="${reportingVersion}">
            org.openmrs.module.reporting
        </require_module>
        <require_module version="${idgenVersion}">
            org.openmrs.module.idgen
        </require_module>
        <require_module version="${patientregistrationVersion}">
            org.openmrs.module.patientregistration
        </require_module>
        <require_module version="${namephoneticsVersion}">
            org.openmrs.module.namephonetics
        </require_module>
        <require_module version="${pacsintegrationVersion}">
            org.openmrs.module.pacsintegration
        </require_module>
        <require_module version="${providermanagementVersion}">
            org.openmrs.module.providermanagement
        </require_module>
        <require_module version="${radiologyappVersion}">
            org.openmrs.module.radiologyapp
        </require_module>
        <require_module version="${coreappsVersion}">
            org.openmrs.module.coreapps
        </require_module>
        <require_module version="${dispensingVersion}">
            org.openmrs.module.dispensing
        </require_module>
        <require_module version="${paperrecordVersion}">
            org.openmrs.module.paperrecord
        </require_module>
        <require_module version="${printerVersion}">
            org.openmrs.module.printer
        </require_module>
        <require_module version="${addresshierarchyVersion}">
            org.openmrs.module.addresshierarchy
        </require_module>
        <require_module version="${metadatadeployVersion}">
            org.openmrs.module.metadatadeploy
        </require_module>
    </require_modules>


    <activator>${project.parent.groupId}.${project.parent.artifactId}.PihCoreActivator</activator>

	<mappingFiles>
	</mappingFiles>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>

</module>

