<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>PIH</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

    <require_modules>
        <require_module version="${addresshierarchyVersion}">
            org.openmrs.module.addresshierarchy
        </require_module>
        <require_module version="${allergyuiVersion}">
            org.openmrs.module.allergyui
        </require_module>
        <require_module version="${appframeworkVersion}">
            org.openmrs.module.appframework
        </require_module>
        <require_module version="${appointmentsVersion}">
            org.bahmni.module.appointments
        </require_module>
        <require_module version="${appointmentschedulingVersion}">
            org.openmrs.module.appointmentscheduling
        </require_module>
        <require_module version="${appointmentschedulinguiVersion}">
            org.openmrs.module.appointmentschedulingui
        </require_module>
        <require_module version="${appuiVersion}">
            org.openmrs.module.appui
        </require_module>
        <require_module version="${attachmentsVersion}">
            org.openmrs.module.attachments
        </require_module>
        <require_module version="${authenticationVersion}">
            org.openmrs.module.authentication
        </require_module>
        <require_module version="${authenticationuiVersion}">
            org.openmrs.module.authenticationui
        </require_module>
        <require_module version="${bedmanagementVersion}">
            org.openmrs.module.bedmanagement
        </require_module>
        <require_module version="${calculationVersion}">
            org.openmrs.calculation
        </require_module>
        <require_module version="${coreappsVersion}">
            org.openmrs.module.coreapps
        </require_module>
        <require_module version="${dbeventVersion}">
            org.openmrs.module.dbevent
        </require_module>
        <require_module version="${dispensingVersion}">
            org.openmrs.module.dispensing
        </require_module>
        <require_module version="${edtriageappVersion}">
            org.openmrs.module.edtriageapp
        </require_module>
        <require_module version="${emrVersion}">
            org.openmrs.module.emr
        </require_module>
        <require_module version="${emrapiVersion}">
            org.openmrs.module.emrapi
        </require_module>
        <require_module version="${eventVersion}">
            org.openmrs.event
        </require_module>
        <require_module version="${fhir2Version}">
            org.openmrs.module.fhir2
        </require_module>
        <require_module version="${growthChartVersion}">
            org.openmrs.module.growthchart
        </require_module>
        <require_module version="${htmlformentryVersion}">
            org.openmrs.module.htmlformentry
        </require_module>
        <require_module version="${htmlformentryuiVersion}">
            org.openmrs.module.htmlformentryui
        </require_module>
        <require_module version="${htmlwidgetsVersion}">
            org.openmrs.module.htmlwidgets
        </require_module>
        <require_module version="${idgenVersion}">
            org.openmrs.module.idgen
        </require_module>
        <require_module version="${initializerVersion}">
            org.openmrs.module.initializer
        </require_module>
        <require_module version="${labtrackingappVersion}">
            org.openmrs.module.labtrackingapp
        </require_module>
        <require_module version="${legacyuiVersion}">
            org.openmrs.module.legacyui
        </require_module>
        <require_module version="${metadatamappingVersion}">
            org.openmrs.module.metadatamapping
        </require_module>
        <require_module version="${namephoneticsVersion}">
            org.openmrs.module.namephonetics
        </require_module>
        <require_module version="${openconceptlabVersion}">
            org.openmrs.module.openconceptlab
        </require_module>
        <require_module version="${o3formsVersion}">
            org.openmrs.module.o3forms
        </require_module>
        <require_module version="${owaVersion}">
            org.openmrs.module.owa
        </require_module>
        <require_module version="${pacsintegrationVersion}">
            org.openmrs.module.pacsintegration
        </require_module>
        <require_module version="${paperrecordVersion}">
            org.openmrs.module.paperrecord
        </require_module>
        <require_module version="${printerVersion}">
            org.openmrs.module.printer
        </require_module>
        <require_module version="${providermanagementVersion}">
            org.openmrs.module.providermanagement
        </require_module>
        <require_module version="${queueVersion}">
            org.openmrs.module.queue
        </require_module>
        <require_module version="${radiologyappVersion}">
            org.openmrs.module.radiologyapp
        </require_module>
        <require_module version="${registrationappVersion}">
            org.openmrs.module.registrationapp
        </require_module>
        <require_module version="${registrationcoreVersion}">
            org.openmrs.module.registrationcore
        </require_module>
        <require_module version="${reportingVersion}">
            org.openmrs.module.reporting
        </require_module>
        <require_module version="${reportingrestVersion}">
            org.openmrs.module.reportingrest
        </require_module>
        <require_module version="${reportinguiVersion}">
            org.openmrs.module.reportingui
        </require_module>
        <require_module version="${serializationxstreamVersion}">
            org.openmrs.module.serialization.xstream
        </require_module>
        <require_module version="${spaVersion}">
            org.openmrs.module.spa
        </require_module>
        <require_module version="${teleconsultationVersion}">
            org.bahmni.module.teleconsultation
        </require_module>
        <require_module version="${uicommonsVersion}">
            org.openmrs.module.uicommons
        </require_module>
        <require_module version="${uiframeworkVersion}">
            org.openmrs.module.uiframework
        </require_module>
        <require_module version="${uilibraryVersion}">
            org.openmrs.module.uilibrary
        </require_module>
        <require_module version="${webservicesRestVersion}">
            org.openmrs.module.webservices.rest
        </require_module>
    </require_modules>

    <activator>${project.parent.groupId}.${project.parent.artifactId}.PihCoreActivator</activator>

    <filter>
        <filter-name>RequestMonitoringFilter</filter-name>
        <filter-class>org.openmrs.module.pihcore.RequestMonitoringFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestMonitoringFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TermsAndConditionsFilter</filter-name>
        <filter-class>org.openmrs.module.pihcore.TermsAndConditionsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TermsAndConditionsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!-- Global Properties -->
    <globalProperty>
        <property>mirebalais.installedAddressHierarchyVersion</property>
        <defaultValue>0</defaultValue>
        <description>
            Used to track what version of the address hierarchy is installed on the system
        </description>
    </globalProperty>

    <globalProperty>
        <property>mirebalais.checkIn.paymentAmounts</property>
        <defaultValue>50,0</defaultValue>
        <decscription>
            A comma-delimited list of numeric values, which represent the available payment amounts to collect during check-in
        </decscription>
    </globalProperty>

    <globalProperty>
        <property>mirebalais.checkIn.paymentAmountLabels</property>
        <defaultValue>50,Exempt</defaultValue>
        <description>
            A comma-delimited list of text values, which represent the display labels for the payment amounts to collect during check-in
        </description>
    </globalProperty>

    <globalProperty>
        <property>mirebalais.checkIn.paymentAmountDefault</property>
        <defaultValue>50</defaultValue>
        <description>
            The value within the available payment amounts that should be the default value
        </description>
    </globalProperty>

    <globalProperty>
        <property>order.nextRadiologyOrderNumberSeed</property>
        <defaultValue>1</defaultValue>
        <description>
            Seed used for generating radiology order numbers
        </description>
    </globalProperty>

</module>
