@import "customVariables";

form fieldset {
  margin-bottom: 20px;

  input[type=button] {
    margin-top: 0;
  }
}

#accountForm {
	.field-error {
		color: $error;
	}

	strong, .form-header {
		margin-top: 10px;
	}

	#format-password {
		font-style: italic;
		font-size: 0.90em;
		color: #aaa;
	}
}

.emr_userDetails {
	#password {
		color: #777;
		font-size: 0.9em;
		text-align: left;
		font-style: italic;
		line-height: 1em;
	}
}

#list-accounts_wrapper {
	margin-top: 25px;
	min-height: auto;
}

#list-accounts {
	margin: 0;
	margin-top: 20px;
	display: table;

	.ui-state-default {
		color: #003f5e;
	}

	th {
		word-break: normal;

		.medium {
			width: 90px;
		}
	}
}

#list-accounts_filter {
	width: 100%;
}