@import "bootstrap-variables";

@import "bootstrap/assets/stylesheets/bootstrap-compass";
@import "bootstrap/assets/stylesheets/bootstrap";

/* used to create a space between form rows */
.top-buffer {
  margin-top:20px;
}

.form-group.required .control-label:after{
  content:"*";
  color:red;
}

/* used for the urency icon*/
.urgent-icon{
  color: #ff3d3d;
}

.date-link {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
.pointer {
  cursor:pointer;
}

/* fix so that the 1000px max size works with bootstrap
   if the UI changes, we can remove this
*/
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* two columns when printing pathology form */
@media print {
  #content {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}





