$pihPrimaryPurple: #872175;
$pihSecondaryGrey: #B9B299;
$pihSecondaryGreen: #9FA615;
$pihSecondaryBlue: #2BBED8;
$pihSecondaryDarkBlue: #003F5E;
$pihSecondaryYellow: #FFC220;
$pihSecondaryOrange: #EB6E1F;
$pihSecondaryRed: #C41230;
$pihSecondaryBrown: #572600;

$green: #9FA615;
$blue: #0000FF;
$lighterGrey: #EAEBF0;
$lighterGray: #EAEBF0;
$darkerGrey: #BBB;
$darkerGray: #BBB;
$backgroundColor: #FBFBFB;
$white: #FFFFFF;
$black: #000000;

$bodyBackground: #EEE;
$contentBackground: #FFF;
$link: #007FFF;
$purple: #800080;
$text: #003F5E;
$success: #A1D030;
$highlight: #501D3D;
$error: #C41230;
$alert: #EB6E1F;
$focus: #FFFDF7;
