@import "customVariables";
@import "compass/css3";

#entry-fields {
  display: inline-block;
  width: 58%;
  vertical-align: top;

  p {
    padding-bottom: 1em;
  }
}

#deathDate-display, #appointmentDate-display {
  width: 150px;
  min-width: 0;
}

#consult-note {
  #who-where-when-edit {
    margin-bottom: 6px;
    border-bottom: 1px solid #ccc;

    #consultDate-display {
      width: 150px;
      min-width: 0;
    }

    #consultProvider-field, #consultLocation-field {
      width: 200px;
      min-width: 0; 
    }

    label {
        margin-top: 0;
    }
  }

  #who-where-when-view {
    width: 600px;
    margin: 0;
    margin-bottom: 30px;

    td {
      padding-left: 5px;

      label {
        margin-top: 0;
      }
    }
  }

  #who-where-when-edit, #who-where-when-view {
    p, td {
      width: 210px;
    }
    p {
      display: inline-block;
    }
  }

  #display-diagnoses {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    font-size: 0.9em;
    h3 {
      border-bottom: 1px solid #CCC;
      padding-bottom: 5px;
    }
    li {
      margin-bottom: 10px;
      .diagnosis {
        display: inline-block;
        background: #006191;
        border-left: 8px #006191 solid;
        padding: 5px 10px;
        width: 84%;
        color: white;
        @include border-radius(3px);

        &.primary {
          border-left: 8px $success solid;
        }

        .actions {
          float: right;
          font-size: 0.8em;
          margin-top: 5px;

          input {
            float: none;
            margin: 0px 0px 0px 10px;
            font-size: 0.8em;
          }
          label {
            vertical-align: top;
            display: inline;
          }
        }
      }
      i {
        display: inline;
      }
    }
  }
}
#buttons {
  margin-top: 1em;
}

.matched-name {
  display: block;
  font-size: 1em;
}
.preferred-name {
  margin-top: 5px;
  display: block;
  font-family: $primaryLightFont;
  small {
    font-size: 1em;
    color: $darkerGrey;
  }
}

.code {
  float: right;
  font-family: $primaryLightFont;
  font-size: 0.9em;
}

.ui-menu .ui-menu-item {
  border-bottom: 1px gray solid;
}
