#current-date {
  display: inline-block;
}

#date-header, #view-cohort {
  text-align: center;

  p {
    margin-bottom: 10px;
  }
}

#view-cohort {
  margin-top: 1em;
}

.dataset {
  margin-bottom: 1em;
}

.patient-list-table {
  th {
    min-width: 83px;
    font-size: 0.8em;
    word-break: normal;
    padding: 5px;
    text-align: center;
  }

  td {
    text-align: center;
  }

  a {
    font-size: 1.2em;
    cursor: pointer;
  }

  .indicator-in {
    background-color: lighten(#D7FFDB, 3);
  }

  .indicator-out {
    background-color: lighten(#FFF1c7, 3);
  }

  .indicator-total {
    background-color: #FFF;
  }
}