.inpatients-table, .inpatients-list-table {

	th {
		min-width: 85px;
		font-size: 0.8em;
		word-break: normal;
		padding: 5px;
		text-align: center;	
	}

	td {
		text-align: center;
	}

	a {
		font-size: 1.2em;
		cursor: pointer;
	}

    .indicator-in {
      background-color: lighten(#D7FFDB, 3);
    }

    .indicator-out {
      background-color: lighten(#FFF1c7, 3);
    }

    .indicator-total {
    	background-color: #FFF;
    }
}

#current-date {
	display: inline-block;
}

#date-header {
	text-align: center;
}

#view-cohort {
	margin-top: 2em;
}

.angular-datepicker {
	display: inline-block;

	table {
		td, th, tr {
			border: none;
			padding: 5px;
			background-color: white;
		}
	}

	.muted {
		color: #ccc;
	}

	.btn-success, .divider, .btn-group, li:last-child {
		padding: 0px;
		display: none;
	}

	.datepicker-input {
		margin: 0 0 7px 5px;
		text-align: center;
		width: auto;
	}

	.datepicker-input, .icon-calendar {
		top: -2px;
		position: relative;
	}

	.btn {
		padding: 3px;
		background: white;
		border: 0;

		&:hover {
			background: #ddd;
		}
	}
	
	.btn-info, .btn-info:hover {
		color: white;
		background-color: #0044cc;
		background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	}

	.btn-block {
		margin: 0 auto;
		display: block;
	}
}
