@import "customVariables";
@import "reference";

#master-patient-index {
  fieldset {
    min-width: 45%;
    vertical-align: top;
  }
}

ul.patient-search-results {
  li {
    background: #F9F9F9;
    border: 1px solid #CCC;
    margin-bottom: 10px;

    .patient-info {
      display: inline-block;
      width: 78%;
      padding: 1%;
       h3 {
         margin: 0 0 10px 0;
         padding: 0 0 10px 0;
         border-bottom: 1px solid #DDD;
         .identifiers {
           @include ids;
           float: none;
           font-size: 0.8em;
           margin: 0;
         }
       }
       .demographics {
         @include horizontal-list;
       }
     }
    .import-patient {
      display: inline-block;
      vertical-align: top;
      width: 17.4%;
      background: lighten($pihSecondaryYellow, 40%);
      padding: 2.8% 1%;
      text-align: center;
      border-left: 1px solid #CCC;
    }
  }
}