@import "colors";

.reportBox {
  display: inline-block;
  color: $text;
  vertical-align: top;
  margin: 0 10px;
  width: 47%;

  .date {
    font-size: 0.85em;
  }

  ul {
    border-bottom: 3px solid white;
  }

  p {
    font-size: 1.2em;
    font-family: "OpenSansBold";
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  ul {
    background-color: $pihSecondaryDarkBlue;
    color: $white;
    padding: 10px;

    li {
      padding-bottom: 0.5em;
    }

    a, a:visited, a.visited {
      color: $white;
    }

    span.label {
      display: inline-block;
    }

    span.data {
      margin: 0 2%;
      display: inline-block;
      font-size: 1.8em;
      font-family: "OpenSansBold";

      .number {
        font-size: 0.8em;
        font-family: "OpenSans";
      }

      &.percentage {
        font-size: 1.3em;
      }
    }

    .subtle {
      color: darken($white, 40%);
    }
  }
}

.reportLinksBox {
  display: inline-block;
  color: $text;
  vertical-align: top;
  margin: 20px;
  width: 45%;

  p {
    margin-bottom: 10px;
  }

  ul {
    background-color: $lighterGrey;
    padding-left: 10px;

    li {
      font-weight: bold;
      padding: 0.2em;
    }
  }

}